__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.env
.env.*
*.log
*.sqlite3
*.db
.idea/
*.egg-info/
build/
dist/
*.coverage
.coverage
htmlcov/
*.bak
*.swp
.DS_Store
node_modules/
.git/
.gitignore
*.md
*.yml
*.yaml
*.ini
*.toml
*.cfg
*.lock
*.zip
*.tar
*.gz
*.tgz
*.rar
*.7z
*.out
*.tmp
*.test
*.pytest_cache/
